{% load static %}
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASL Alphabet Learning</title>
        <link rel="stylesheet" href="{% static 'styles/tutorial.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="alphabet-buttons">
                <!-- Alphabet buttons will be dynamically added here -->
            </div>
            
            <div class="row">
                <div class="column">
                    <video id="webcam" autoplay playsinline></video>
                </div>
                <div class="column">
                    <img id="demo-image" alt="ASL hand shape demonstration" src="{% static 'images/tutorial/a.png' %}">
                </div>
            </div>
            
            <div class="row">
                <div class="column">
                    <button class="control-button" onclick="startInput()">Input</button>
                    <button class="control-button" onclick="completeAction()">Complete</button>
                </div>
                <div class="column">
                    <div id="hand-shape-explanation"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="column">
                    <div id="recognition-result"></div>
                </div>
                <div class="column">
                    <div id="user-score"></div>
                </div>
            </div>
        </div>

        <script src="{% static 'scripts/tutorial.js' %}"> </script>

    </body>
</html>