body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f0f0f0;
    /* padding: 20px; */
    /* border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); */

   
}


.row {
    /* display: flex;
    margin-bottom: 20px; */

    /* border: 3px solid orange; */
    font-family: Arial, sans-serif;
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* padding: 20px; */
    background-color: #f0f0f0;
    width: 100%;


}
.column {
    /* flex: 1;
    padding: 10px; */


 /* border:2px solid green; */
 background-color: white;
 border-radius: 10px;
 padding: 20px;
 margin: 5px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.tutorialpart {
    /* border: 2px solid purple; */
    margin-left: 60px;
}

.detectionpart {
    /* border: 2px solid pink; */
    width: 100%;
    max-width: fit-content;
}

body > div > div.row > div.row > div > div:nth-child(1) {
  
}

#webcam {
    /* width: 100%;
    max-width: 400px;
    height: auto; */
    width: 100%;
    height: 285px;
    border: 1px solid #ddd;
    border-radius: 10px;
    object-fit: cover;
}

#demo-image {
    width: 100%;
    /* max-width: 300px;
    height: auto; */
    width: 100%;
    height: 285px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.control-button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #c99458;
    background-color: #c99458;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;

}
.control-button:hover {
    background-color: #bf8c51;
}

#hand-shape-explanation {
    /* min-height: 100px; */
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#recognition-result {
    /* min-height: 100px; */
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 10px;
}


#user-score {
    /* min-height: 100px; */
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 10px;
}



#keyboard {
 /* border:2px solid green; */
 background-color: white;
 border-radius: 10px;
 padding: 20px;
 margin: 5px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.alphabet-buttons {
   /* border: 2px solid blue; */
   display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    /* border-radius: 10px; */
}


.key {
    padding: 2.5px; /* 調整各字母的間距 */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    height: 15px;
    width: 15px;
}
.key.used {
    background-color: #ddd;
}





.sidebar {
    font-weight: bold;
    font-family: Arial, sans-serif;
    height: 25%;
    width: 0;
    position: absolute;
    /* position: fixed; 固定不動 */
    top: 0;
    left: 0;
    background-color: #d4d0d0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-radius: 10px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}


#sidebarBtn {
    font-weight:bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #e2d9d9;
    color: rgb(207, 181, 181);
    padding: 10px;
    border: none;
    position: absolute;
    /* position: fixed; */
    top: 10px;
    left: 10px;
    border-radius: 10px;
}



 /* 響應式設計 */
    
 