body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}

.content {
    /* border: 3px solid purple; */
    font-family: Arial, sans-serif;
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* padding: 20px; */
    background-color: #f0f0f0;
    width: 100%;
}

.head {
    /* border:2px solid red; */
    height: 50px;
    width: 100%;

}

.gamepart{
    /* border:2px solid rgb(255, 0, 191); */
}

.detectionpart{
    /* border:2px solid rgb(0, 255, 153); */
   
}

.container {
    /* border:2px solid green; */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#word-grid {
    /* border:2px solid blue; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}
    
.letter-box {
    width: 50px;     /* 調整單一字母框大小 */
    height: 50px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}
    
#keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.key {
    padding: 2.5px; /* 調整各字母的間距 */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
    
.key.used {
    background-color: #ddd;
}
    
#webcam-container {
    width: 100%;
    height: 285px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    border-radius: 10px;
}

#webcam-feed {
    width: 100%;
    height: 285px;
    object-fit: contain;
}
    
#webcam-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
    
#controls {
    display: flex;
    flex-wrap: nowrap;
}

#controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.green {
    background-color: #6aaa64;
    color: white;
}

.yellow {
    background-color: #c9b458;
    color: white;
}

.grey {
    background-color: #787c7e;
    color: white;
}

#toggle-webcam, #submit, #give-up, #ranking {
    font-size: 10px;
    border: 2px solid #c99458;
    background-color: #c99458;
    color: white;
    border-radius: 10px;
}

#scoreDisplay {
    font: bold;
    font-size: 20px;
    color: #c99458;
    display: flex;
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    height: 30px; /* 根據需要調整高度 */
    border-radius: 10px;

}

body > div.content > div.detectionpart > div:nth-child(2) {
    padding: 10px;
    display: flex;
    justify-content: center;
}


.sidebar {
    font-weight: bold;
    font-family: Arial, sans-serif;
    height: 25%;
    width: 0;
    position: absolute;
    /* position: fixed; 固定不動 */
    top: 0;
    left: 0;
    background-color: #d4d0d0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-radius: 10px;
}

.sidebar a {
    padding: 7px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

#overlay-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 20;
    text-align: center;
    display: none;
}


#recognized-image {
    display: none;
    width: 100%;
    height: 285px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}

#sidebarBtn {
    font-weight:bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #e2d9d9;
    color: rgb(207, 181, 181);
    padding: 10px;
    border: none;
    position: absolute;
    /* position: fixed; */
    top: 10px;
    left: 10px;
    border-radius: 10px;
}


/* footer */

footer {
    background-color: #e2d9d9;
    color: #d4d0d0;
    padding: 2px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .github-link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight:bold;
    transition: color 0.3s ease;
  }
  
  
  /* #qrcode {
    background-color: white;
    padding: 2px;
    border-radius: 3px;
    height: 8px;
    width: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sqrcode {
    height: 8px;
    width: 8px;
  } */








/* 響應式設計 */

@media screen and (max-width: 1000px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gamepart {
        width: 400px; /* 固定寬度，不隨螢幕縮放 */
        margin-bottom: 20px;
    }

    .detectionpart {
        width: 90%; /* 保持響應性，避免過窄或過寬 */
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 1001px) { 
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .gamepart {
        width: 400px; /* 固定寬度，不隨螢幕縮放 */
        margin-left: 70px;
        margin-right: 45px;
    }

    .detectionpart {
        width: 45%; /* 調整寬度以便兩者可以在大螢幕上均勻分布 */       
        margin-left: 45px;
        margin-right: 70px;
    }
}

